@import "score.css";

* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

    body.ready #Pipes > li, body.ready #Trajectory > li,
    body.end #Pipes > li, body.end #Grounds, body.end #Trajectory > li, body.end #Bird {
        animation-play-state: paused !important;
    }

    body.ready #Trajectory, body.end #GetReady, body:not(.end) #GameOver {
        display: none;
    }

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#Background {
    margin: auto;
    width: 800px;
    height: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-shadow:  black 0 0 10px;
    background: url('Images/Background.png');
    position: absolute;
}

@keyframes BirdFly {
    from { background-position: -2px -8px; }
    33.34% { background-position: -42px -8px; }
    66.67% { background-position: -82px -8px; }
}

#Bird {
    width: 36px;
    height: 25px;
    background: url('Images/Birds.png') -2px -8px;
    overflow: hidden;
    position: absolute;
    left: 150px;
    top: 0;
    transform: translateY(200px);
    z-index: 600;
    animation: BirdFly .3s steps(1) infinite alternate;
    will-change: background-position;
}

@keyframes MovePipes {
    to { transform: translateX(-52px); }
}

#Pipes {
    position: relative;
    width: 100%;
    height: 100%;
}

    #Pipes > li {
        transform: translateX(852px);
        animation: MovePipes 5s infinite linear;
        float: left;
        width: 0;
        height: 1000px;
        position: relative;
    }

        #Pipes > li:nth-child(1) {
            animation-delay: 1s;
        }

        #Pipes > li:nth-child(2) {
            animation-delay: 2s;
        }

        #Pipes > li:nth-child(3) {
            animation-delay: 3s;
        }

        #Pipes > li:nth-child(4) {
            animation-delay: 4s;
        }

        #Pipes > li:nth-child(5) {
            animation-delay: 5s;
        }

        #Pipes > li::before {
            content: "";
            display: block;
            background: url('Images/Pipe_Top.png');
            height: 420px;
            width: 52px;
        }

        #Pipes > li > div {
            height: 120px;
            width: 52px;
        }

        #Pipes > li::after {
            content: "";
            display: block;
            background: url('Images/Pipe_Bottom.png');
            height: 420px;
            width: 52px;
        }


@keyframes MoveGround {
    to { transform: translateX(-168px); }
}

#Grounds {
    position: absolute;
    z-index: 200;
    bottom: 0;
    width: 1500px;
    animation: MoveGround 0.92307692307s linear infinite;
}

    #Grounds > li {
        background: url('Images/Ground.png');
        width: 336px;
        height: 112px;
        float: left;
        display: block;
    }

body:not(.ready) #GetReady {
    opacity: 0;
    transition: opacity ease-in-out 1s;
}

#GetReady, #GameOver {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;
}

    #GetReady > div.title {
        width: 300px;
        height: 90px;
        margin: 60px auto;
        background: url('Images/Hint.png');
    }

    #GetReady > div.hint {
        width: 230px;
        height: 150px;
        margin: 60px auto;
        background: url('Images/Hint.png') 0 -170px;
    }
    
@keyframes ShowGameOver {
    to { transform: none; }
}

#GameOver > div.title {
    width: 300px;
    height: 82px;
    margin: 60px auto 0;
    background: url('Images/Hint.png') 0 -90px;
    transform: translateY(-142px);
    animation: ShowGameOver ease-in-out 0.5s 0.5s forwards;
}

#GameOver > div.score_board {
    width: 348px;
    height: 182px;
    margin: 30px auto 0;
    background: url('Images/ScoreBoard.png');
}

#GameOver > div.score_board > div.score {
    width: 100%;
    height: 32px;
    padding-top: 52px;
}

    #GameOver > div.score_board > div.is-highest-score {
        background: url('Images/ScoreBoard.png') 0 -182px;
        width: 48px;
        height: 21px;
        margin-top: 5px;
        margin-left: 221px;
        transform: scale(0);
    }

    #GameOver > div.score_board > div.highest-score {
        margin-top: 5px;
        width: 100%;
        height: 32px;
        position: relative;
    }

    #GameOver > div.score_board > div.highest-score > div.score {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #GameOver > div.score_board > div.highest-score > div.score.new,
    #GameOver > div.score_board > div.is-highest-score.show + div.highest-score > div.score.old {
        transform: scale(0);
    }

    #GameOver > div.score_board > div.is-highest-score.show,
    #GameOver > div.score_board > div.highest-score > div.score {
        transition: transform ease-out 0.3s;
    }
    
    #GameOver > div.score_board > div.is-highest-score.show,
    #GameOver > div.score_board > div.is-highest-score.show + div.highest-score > div.score.new {
        transform: scale(1);
        transition-delay: 0.3s;
    }

#GameOver > div.buttons {
    width: 348px;
    height: 100px;
    margin: 45px auto 0;
}

    #GameOver > div.buttons > a {
        float: left;
        display: block;
        width: 174px;
        height: 105px;
        background: url('Images/Buttons.png');
    }

        #GameOver > div.buttons > a:hover {
            background-position: 0 -105px;
        }

        #GameOver > div.buttons > a:active {
            background-position: 0 -210px;
        }

        #GameOver > div.buttons > a.score {
            background-position: -180px 0;
        }

        #GameOver > div.buttons > a.score:hover {
            background-position: -180px -105px;
        }

        #GameOver > div.buttons > a.score:active {
            background-position: -180px -210px;
        }

#GameOver > div.score_board,
#GameOver > div.buttons {
    transform: translateY(425px);
    animation: ShowGameOver ease-in-out 0.5s 1s forwards;
}

@keyframes MovePoints {
    to { transform: none; }
}

#EnableTrajectory:not(:checked) ~ #Background #Trajectory {
    display: none;
}

#Trajectory {
    width: 152px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
    z-index: 480;
}

#Trajectory > li {
    position: absolute;
    display: block;
    margin-top: 211px;
    transform: translateX(154px);
    width: 0;
    height: 0;
    animation: MovePoints 0.82964601769911s infinite linear;
}
    #Trajectory > li::before {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        box-shadow: black 0 0 3px;
        border: 1px solid white;
        background: white;
        display: block;
    }

    #Trajectory > li:nth-child(2) {
        animation-delay: 0.13827433628319s;
    }

    #Trajectory > li:nth-child(3) {
        animation-delay: 0.27654867256637s;
    }

    #Trajectory > li:nth-child(4) {
        animation-delay: 0.41482300884956s;
    }

    #Trajectory > li:nth-child(5) {
        animation-delay: 0.55309734513274s;
    }

    #Trajectory > li:nth-child(6) {
        animation-delay: 0.69137168141593s;
    }

#Score {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 60px;
    text-align: center;
    transition: opacity ease-in-out 1s;
    z-index: 200;
}

body.ready #Score, body.end #Score {
    opacity: 0;
}

#Mask {
    z-index: 2000;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

@keyframes ShowMask {
    from { opacity: 1; }
    to { opacity: 0; }
}

body.ready #Mask {
    display: block;
    background: black;
    animation: ShowMask linear 0.5s forwards;
}

body.end #Mask {
    display: block;
    background: white;
    animation: ShowMask 0.2s ease-in-out 2 alternate-reverse forwards;
}

body.end #Bird {
    transform: translateY(464px) rotate(90deg);
    transition: transform ease-in 1s;
}