* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

div#Background {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: url('Images/Background.png');
    position: relative;
    overflow: hidden;
}

@keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

@-moz-keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

@-webkit-keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

div#Bird {
    width: 40px;
    height: 40px;
    background: url('Images/Birds.png');
    position: absolute;
    left: 100px;
    top: 100px;

    -moz-animation: BirdFly 1s linear infinite;
    -o-animation: BirdFly 1s linear infinite;
    -webkit-animation: BirdFly .5s linear infinite;
    animation: BirdFly 1s linear infinite;
}

div#Background > ul > li {
    float: left;
    display: block;
}

ul#Pipes {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 112px;
}

    ul#Pipes > li {
        position: relative;
        width: 52px;
        height: 1000px;
    }

        ul#Pipes > li:not(:first-child) {
            margin-left: 70px;
        }

        ul#Pipes > li::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            background: url('Images/Pipe_Top.png');
            width: 52px;
            height: 420px;
        }

        ul#Pipes > li::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            background: url('Images/Pipe_Bottom.png');
            width: 52px;
            height: 420px;
        }


@keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -120px; }
}

@-moz-keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -120px; }
}

@-webkit-keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -120px; }
}

ul#Grounds {
    position: absolute;
    bottom: 0;
    width: 1500px;

    -moz-animation: MoveGround 1.5s linear infinite;
    -o-animation: MoveGround 1.5s linear infinite;
    -webkit-animation: MoveGround 1.5s linear infinite;
    animation: MoveGround 1.5s linear infinite;
}

    ul#Grounds > li {
        background: url('Images/Ground.png');
        width: 336px;
        height: 112px;
    }

/* <Temp> */
ul#Pipes > li:first-child {
    margin-left: 370px;
}

ul#Pipes > li:nth-child(2n) {
    margin-top: -200px;
}

ul#Pipes > li:nth-child(2n+1) {
    margin-top: -300px;
}
/* </Temp> */
