* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

div#Background {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: url('Images/Background.png');
    position: relative;
    overflow: hidden;
}

@keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

@-moz-keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

@-webkit-keyframes BirdFly {
    from { background-position-x: 0; }
    25% { background-position-x: 0; }

    25.0001% { background-position-x: -40px; }
    50% { background-position-x: -40px; }

    50.0001% { background-position-x: -80px; }
    75% { background-position-x: -80px; }

    75.0001% { background-position-x: -40px; }
    to { background-position-x: -40px; }
}

div#Bird {
    width: 40px;
    height: 40px;
    background: url('Images/Birds.png');
    position: absolute;
    left: 100px;
    top: 100px;

    -moz-animation: BirdFly .5s linear infinite;
    -o-animation: BirdFly .5s linear infinite;
    -webkit-animation: BirdFly .5s linear infinite;
    animation: BirdFly .5s linear infinite;
}

div#Background > ul > li {
    float: left;
    display: block;
}

@keyframes MovePipes {
    from { left: 852px; }
    to { left: -52px; }
}

@-moz-keyframes MovePipes {
    from { left: 852px; }
    to { left: -52px; }
}

@-webkit-keyframes MovePipes {
    from { left: 852px; }
    to { left: -52px; }
}

div.Pipes {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 800px;
    bottom: 112px;
}

ul#Pipes {
    position: relative;
    width: 100%;
    height: 100%;
}

    ul#Pipes > li {
        position: absolute;
        width: 52px;
        height: 1000px;
        left: 852px;
        display: block;

        -moz-animation: MovePipes 5s infinite linear;
        -o-animation: MovePipes 5s infinite linear;
        -webkit-animation: MovePipes 5s infinite linear;
        animation: MovePipes 5s infinite linear;
    }

        ul#Pipes > li:nth-child(2) {
            -moz-animation-delay: 1s;
            -o-animation-delay: 1s;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
        }

        ul#Pipes > li:nth-child(3) {
            -moz-animation-delay: 2s;
            -o-animation-delay: 2s;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }

        ul#Pipes > li:nth-child(4) {
            -moz-animation-delay: 3s;
            -o-animation-delay: 3s;
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
        }

        ul#Pipes > li:nth-child(5) {
            -moz-animation-delay: 4s;
            -o-animation-delay: 4s;
            -webkit-animation-delay: 4s;
            animation-delay: 4s;
        }

        ul#Pipes > li::before {
            content: "";
            display: block;
            background: url('Images/Pipe_Top.png');
            height: 420px;
        }
        
        ul#Pipes > li > div {
            content: "";
            display: block;
            height: 120px;
        }

        ul#Pipes > li::after {
            content: "";
            display: block;
            background: url('Images/Pipe_Bottom.png');
            height: 420px;
        }


@keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -168px; }
}

@-moz-keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -168px; }
}

@-webkit-keyframes MoveGround {
    from { margin-left: 0; }
    to { margin-left: -168px; }
}

ul#Grounds {
    position: absolute;
    bottom: 0;
    width: 1500px;

    -moz-animation: MoveGround 0.92307692307s linear infinite;
    -o-animation: MoveGround 0.92307692307s linear infinite;
    -webkit-animation: MoveGround 0.92307692307s linear infinite;
    animation: MoveGround 0.92307692307s linear infinite;
}

    ul#Grounds > li {
        background: url('Images/Ground.png');
        width: 336px;
        height: 112px;
    }